{% load simplemenus_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Simple Menus</title>
</head>
<body>

{% render_menu 'main_menu' %}

<section>
    <h1>Hello Universe</h1>
    <!-- Comment -->
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Minima aliquam nesciunt rerum. Doloribus natus similique officia in dolor rerum, ab,
        cupiditate non eveniet, rem laborum at id facilis voluptatibus deserunt.
    </p>
</section>

</body>
</html>
